<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootExample" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="spring-boot-example" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.pluralsight.practicaljms.SpringBootExample" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>